.btn-main {
  border-radius: $radius;
  background: $red;
  padding: 14px 56px;
  color: $white;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 132.9%;
  transition: 0.3s background-color ease;

  &:hover {
    background-color: $red-hover;
  }
}

.btn-transparent {
  border-radius: $radius;
  border: 1px solid $black;
  background-color: transparent;
  padding: 12px 30px;
  color: $black;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 132.9%;
  transition: 0.3s ease;
  transition-property: color, border-color;

  &:hover {
    color: $green;
    border-color: $green ;
  }
}

.btn-secondary{
  border-radius: $radius;
  padding: 12px;
  color: $white;
  background-color: $green;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 132.9%;
  transition: 0.3s background-color ease;

  &:hover {
    background-color: $green-hover;
  }
}
