@mixin font-face($font-family, $font-name, $weight: 400, $style: normal) {
  @font-face {
    font-family: $font-family;
    src: url("@/assets/fonts/" + $font-name + ".woff2") format("woff2"),
    url("@/assets/fonts/" + $font-name + ".woff") format("woff");
    font-weight: $weight;
    font-style: $style;
  }
}
