@import "./reset";
@import "./scrollbar";
@import "./container";
@import "./variables";
@import "./mixin";
@import "./fonts";
@import "./components/button";
@import "./components/input";
@import "./link";

html {
  scrollbar-gutter: stable;
}

body {
  font-family: "Circe";
}



::selection {
  background-color: $black;
  color: $white;
}