@import "./reset";
@import "./container";
@import "./variables";
@import "./mixin";
@import "./fonts";
@import "./button";

body {
  font-family: "Circe";

  // deleted
  &::after {
    content: "";
    display: block;
    height: 200px;
  }
}

::selection {
  background-color: $black;
  color: $white;
}