@import "./reset";
@import "./scrollbar";
@import "./container";
@import "./variables";
@import "./mixin";
@import "./fonts";
@import "./button";

body {
  font-family: "Circe";
}

::selection {
  background-color: $black;
  color: $white;
}